.error-404 {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $thirdFont;
}
.page-title-404 {
  font-family: $primaryFont;
}
