.about-us-pg {
  &__container {
    padding: 3rem 1rem;
  }
  &__img {
    @include responsive(tablet) {
      height: 100%;
      object-fit: cover;
    }
  }
  &__banner-image-background {
    background-image: url("images/legal-aspire-solicitors-team.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  &__banner-image-background::before {
    content: "";
    background: #263c53;
    opacity: 0.7;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &__banner-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__banner-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__banner-title {
    font-family: $primaryFont;
    font-weight: bold;
    color: #fff;
    font-size: 2.3rem;
    line-height: 1.5;
  }
  &__filter {
    margin-bottom: 3rem;
    @include responsive(tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-items: center;
    }
  }
  &__item-one-wrapper,
  &__item-two-wrapper,
  &__filter,
  &__team {
    padding: 1rem;
    @include responsive(tablet) {
      padding-left: 1.8rem;
      padding-right: 1.8rem;
    }
    @include responsive(laptop) {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
  &__item-one-wrapper {
    padding-top: 3rem;
    @include responsive(tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      gap: 3rem;
      padding-top: 5rem;
    }
  }
  &__item-two-wrapper {
    @include responsive(tablet) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      padding-top: 4rem;
      padding-bottom: 2rem;
    }
  }
  &__team {
    padding-top: 3rem;
    padding-bottom: 4rem;
    @include responsive(tablet) {
      padding-top: 4rem;
      padding-bottom: 6rem;
    }
  }
  &__intro-title {
    font-family: $thirdFont;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 2px;
    @include responsive(tablet) {
      margin-top: 1.5rem;
    }
  }
  &__col-1-title {
    font-family: $primaryFont;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__col-1-desc {
    font-family: $thirdFont;
  }
  &__item-two-title {
    font-family: $primaryFont;
  }
  &__item-two-desc {
    font-family: $thirdFont;
  }
  &__item-filter-desc {
    font-family: $thirdFont;
    @include responsive(tablet) {
      text-align: center;
      width: 60%;
      margin: 0 auto;
    }
  }
  &__timeline-heading {
    font-family: $primaryFont;
  }
  &__timeline-desc {
    font-family: $thirdFont;
  }
  &__team-title {
    font-family: $primaryFont;
    line-height: 1.5;
    text-align: center;
  }
  &__team-members-title a {
    font-family: $primaryFont;
    color: #000 !important;
  }
  &__team-members-job-title {
    font-family: $thirdFont;
  }
  &__team-members-link {
    background-color: #061123;
    color: #fff !important;
    text-decoration: none;
    font-family: "Jost", sans-serif;
    text-transform: uppercase;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  &__team-members-card-text-wrapper {
    text-align: center;
    margin-top: 1rem;
  }
  &__team-members-title {
    margin-bottom: 0;
  }
  &__team-members-job-title {
    margin-top: 0;
  }
  &__team-members-title a {
    @include responsive(laptop) {
      font-size: 1.1rem;
    }
  }
  &__team-members-wrapper {
    display: grid;
    gap: 1.1rem;
    margin-top: 3rem;
    @include responsive(tablet) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    @include responsive(laptop) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
    }
  }
  &__team-members-link-wrapper {
    margin-top: 1.5rem;
  }
  &__team-members-img-wrapper img {
    width: 100%;
  }
}

.card-box-shadow-none {
  box-shadow: none !important;
  padding: 0;
}
.span-number {
  color: #d9c570;
}
// .js-filter {
//   @include responsive(tablet) {
//     width: 70%;
//   }
// }
