.entry-content-case-study {
  padding: 3rem 1rem;
  @include responsive(tablet) {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
  @include responsive(laptop) {
    padding-top: 6rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.case-study-overview-heading,
.case-study-solicitor-heading,
.case-study-category-heading,
.case-study-time-heading,
.case-study-result-heading {
  font-family: $primaryFont;
  margin-bottom: 0;
}

.case-study-review-container {
  @include responsive(tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 4rem;
  }
}

.case-study-overview-main-icon-wrapper {
  @include responsive(tablet) {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
  }
}

.case-study-3-col-wrapper {
  display: grid;
  gap: 2rem;
  @include responsive(tablet) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}

.case-study-line {
  background-color: #000;
  height: 3px;
  width: 40%;
  @include responsive(tablet) {
    width: 20%;
  }
}

.case-study-solicitor,
.case-study-category,
.case-study-time,
.case-study-result {
  font-family: $thirdFont;
  margin-top: 0;
  font-size: 12px;
  font-weight: 700;
}

.case-study-time {
  @include responsive(tablet) {
    margin-bottom: 0;
  }
}

.case-study-overview-heading {
  margin-top: 1.5rem;
}

.case-study-span {
  font-family: "Jost", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 2px;
}
.case-study-overview-img > p img {
  width: 100%;
}
.entry-title-case-study {
  font-family: "Julius Sans One", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5;
  @include responsive(tablet) {
    font-size: 2rem;
  }
}
.case-study-main-content {
  @include responsive(tablet) {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 3.6rem;
    padding-right: 3.6rem;
  }
  @include responsive(laptop) {
    padding-left: 0;
    padding-right: 0;
    max-width: 700px;
  }
}
.case-study-main-content h3 {
  font-family: $primaryFont !important;
}
.case-study-main-content p {
  font-family: $thirdFont !important;
}
.case-study-overview {
  font-family: $thirdFont;
}
.case-study-icon {
  height: 30px;
  @include responsive(tablet) {
    object-fit: contain;
  }
}
.case-study-icon-wrapper {
  margin-right: 1rem;
}
.case-study-overview-icon-wrapper {
  display: flex;
}
.case-study-card {
  background: #f7f7f7;
}
.case-study-card-title a {
  font-family: $primaryFont;
  color: #000;
  @include responsive(laptop) {
    font-size: 1.6rem;
  }
}
.case-study-card-excerpt {
  margin-bottom: 2.5rem;
  font-family: $thirdFont !important;
}
.case-study-card-text-wrapper {
  padding: 1.6rem 1rem 1.6rem 1rem;
}
.case-study-card-link-wrapper {
  margin-bottom: 1rem;
}
.case-study-more-cards-container {
  display: grid;
  gap: 2rem;
}
.case-study-card-link {
  background-color: #061123;
  color: #fff !important;
  text-decoration: none;
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 0.9rem;
}
.case-study-card-title-main {
  font-family: $primaryFont;
  margin-top: 2rem;
  margin-bottom: 0;
}
