.contact {
  background-color: $LightNavy;
  &__container {
    padding: 3rem 1rem;
    padding-bottom: 3.9rem;
    @include responsive(tablet) {
      padding-left: 1.8rem;
      padding-right: 1.8rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
    }
    @include responsive(laptop) {
      padding: 4rem;
    }
    @include responsive(laptop-lg) {
      margin: 0 auto;
      max-width: 1300px;
    }
  }
  &__heading {
    font-family: $primaryFont;
    font-weight: bold;
    margin-top: 0;
    color: #fff;
    @include responsive(tablet) {
      margin-bottom: 0;
    }
  }
  &__link-container {
    margin-top: 3rem;
    @include responsive(tablet) {
      margin-top: 0;
      display: grid;
      justify-content: end;
      align-items: center;
    }
  }
  &__link {
    font-family: $thirdFont;
    border: 2px solid #fff;
    padding: 1rem 2rem;
    color: #fff !important;
    text-decoration: none !important;
    @include responsive(tablet) {
      padding: 1rem 3rem;
    }
    @include responsive(laptop) {
      font-size: 1.2rem;
    }
  }
}
