.contact-pg {
  &__container {
    padding: 3rem 1rem;
    @include responsive(tablet) {
      padding-left: 1.8rem;
      padding-right: 1.8rem;
    }
    @include responsive(laptop) {
      padding: 6rem 4rem;
      padding-bottom: 2rem;
    }
    @include responsive(laptop-lg) {
      margin: 0 auto;
      max-width: 1300px;
    }
  }
  &__banner-image-background {
    background-image: url("images/legal-aspire-solicitors-team.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  &__banner-image-background::before {
    content: "";
    background: #263c53;
    opacity: 0.7;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &__banner-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__banner-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__banner-title {
    font-family: $primaryFont;
    font-weight: bold;
    color: #fff;
    font-size: 2.3rem;
  }
  &__intro-wrapper {
    @include responsive(tablet) {
      width: 60%;
    }
  }
  &__intro-title {
    font-family: $primaryFont;
  }
  &__intro-desc {
    font-family: $thirdFont;
    @include responsive(laptop) {
      width: 90%;
    }
    @include responsive(laptop-lg) {
      width: 70%;
    }
  }
  &__social-icon {
    color: $LightNavy !important;
    font-size: 1.8rem;
    margin-right: 0.8rem;
  }
  &__form {
    margin-top: 2rem;
    margin-bottom: 2rem;
    @include responsive(tablet) {
      margin-top: 0;
    }
  }
  &__form-input {
    width: 100%;
    border-radius: 0 !important;
  }
  &__message-heading {
    margin: 0;
  }
  &__input-wrapper {
    margin-bottom: 1rem;
  }
  &__form-submit-btn {
    width: 100%;
    background-color: #112236;
    color: #fff !important;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 0;
  }
  &__item-2-wrapper {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  &__item-2-heading {
    font-family: $primaryFont;
  }
  &__title {
    font-family: $primaryFont;
    margin-bottom: 2rem;
  }
  &__card-text-container {
    padding: 2rem 1rem 0.5rem 1rem;
    background: #f7f7f7;
  }
  &__cards-container {
    display: grid;
    gap: 2rem;
    @include responsive(tablet) {
      margin-top: 2rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
    }
    @include responsive(laptop) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
    }
  }
  &__contact-info-wrapper {
    display: flex;
  }
  &__contact-address-p,
  &__contact-p {
    margin-top: 0;
  }
  &__contact-info-wrapper > .fas {
    margin-right: 1rem;
  }
  &__contact-link {
    color: #000;
  }
  &__card-img-wrapper img {
    width: 100%;
  }
  &__2-col {
    @include responsive(tablet) {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr;
      margin-top: 2rem;
      gap: 4rem;
    }
  }
  &__line {
    background-color: rgb(0, 0, 0);
    height: 3px;
    width: 10%;
  }
}
.col-2-text-address {
  @include responsive(laptop) {
    width: 60%;
  }
}
