.hero {
  &__item-one,
  &__item-two,
  &__item-three,
  &__item-four {
    background-color: #cccccc;
    height: 70vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    @include responsive(tablet) {
      padding-left: 1.8rem;
      padding-right: 1.8rem;
    }
    @include responsive(laptop) {
      padding-left: 4rem;
      padding-right: 4rem;
    }
    @include responsive(laptop-lg) {
      padding-left: 7rem;
      padding-right: 7rem;
    }
    @include responsive(desktop) {
      padding-left: 10rem;
      padding-right: 10rem;
    }
  }
  &__item-one {
    background-image: url("images/judge-signing-document-at-desk.jpeg");
    background-position: right center;
  }
  &__item-two {
    background-image: url("images/lawyer-standing-against-bookshelf.jpeg");
  }
  &__item-three {
    background-image: url("images/justice-symbol.jpeg");
  }
  &__item-four {
    background-image: url("images/gavel-on-a-law-book.jpeg");
  }

  &__item-heading {
    font-family: $primaryFont;
    font-weight: bold;
    color: #fff;
    @include responsive(tablet) {
      font-size: 2.5rem;
    }
    @include responsive(laptop) {
      font-size: 3rem;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &__item-subheading {
    font-weight: bold;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    margin-bottom: 0;
    @include responsive(laptop) {
      margin-bottom: 1rem;
    }
  }
  &__item-desc {
    font-family: $thirdFont;
    margin-top: 0;
    @include responsive(tablet) {
      width: 65%;
    }
    @include responsive(laptop) {
      width: 45%;
      margin-top: 1rem;
    }
    @include responsive(laptop-lg) {
      width: 35%;
    }
    @include responsive(desktop) {
      width: 25%;
    }
  }
  &__item-link-container {
    margin-top: 2rem;
  }
  &__item-link {
    background-color: $LightNavy;
    color: #fff !important;
    padding: 1rem 2rem;
    text-decoration: none !important;
    font-family: $thirdFont;
    font-size: 1.2rem;
  }
}

.carousel-cell {
  width: 100%;
  margin-right: 10px;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

// .flickity-button {
//   display: block;
// }

/* position dots in gallery */
.flickity-page-dots {
  bottom: 0px;
  margin-bottom: 1rem;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}
