.hero {
  &__item-one,
  &__item-two,
  &__item-three,
  &__item-four {
    background-color: #cccccc;
    height: 70vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
  }
  &__item-one {
    background-image: url("images/gavel.jpg");
  }
  &__item-two {
    background-image: url("images/legal-aspire-solicitors-team.jpg");
  }
  &__item-three {
    background-image: url("images/three-lawyers-working-at-a-computer.jpg");
  }
  &__item-four {
    background-image: url("images/solicitors-coversation.jpg");
  }

  &__item-heading {
    font-family: $primaryFont;
    font-weight: bold;
  }
  &__item-desc {
    font-family: $thirdFont;
    font-size: 0.9rem;
  }
}

.carousel-cell {
  width: 100%;
  margin-right: 10px;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

// .flickity-button {
//   display: block;
// }

/* position dots in gallery */
.flickity-page-dots {
  bottom: 0px;
  margin-bottom: 1rem;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}
