.location-entry-content {
  padding: 3rem 1rem;
  font-family: "Jost", sans-serif;
  @include responsive(tablet) {
    padding-top: 4rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
  @include responsive(laptop) {
    padding-top: 6rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @include responsive(laptop-lg) {
    margin: 0 auto;
    max-width: 1300px;
  }
}
.location-main-content {
  @include responsive(tablet) {
    margin-top: 4rem;
    padding-left: 3.6rem;
    padding-right: 3.6rem;
  }
  @include responsive(laptop) {
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    max-width: 650px;
    margin-top: 4rem;
  }
}
.location-main-content h2 {
  font-family: $primaryFont;
}
.location-contact-us {
  font-family: $primaryFont;
}
.location-map iframe {
  width: 100%;
}
.location-form-info {
  display: grid;
  gap: 0.8rem;
}
.location-form {
  @include responsive(tablet) {
    padding-left: 3.6rem;
    padding-right: 3.6rem;
    margin: 0 auto;
    max-width: 700px;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
.location-col-wrapper {
  @include responsive(tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
  }
}
.location-icon-text {
  margin-top: 0;
  margin-bottom: 0;
  color: #000 !important;
}
.location-form-input {
  width: 100%;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  border-radius: 0 !important;
}
.location-input-message-wrapper {
  margin-top: 0.8rem;
}
.location-message-heading {
  margin-bottom: 0.6rem;
}
.location-form-submit-btn {
  width: 100%;
  margin-top: 1rem;
  background-color: #112236;
  color: #fff !important;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 0;
  cursor: pointer;
}
.location-icon-wrapper {
  display: flex;
}
.location-address,
.loaction-number,
.loaction-email {
  margin-top: 0;
}
.location-col-2 {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #f7f7f7;
  padding: 3rem 1.5rem;
  @include responsive(tablet) {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.location-icon {
  margin-right: 1rem;
  color: $LightNavy;
}
.location-socials-wrapper {
  font-size: 2rem;
}
.linkedin-location,
.twitter-location {
  margin-right: 0.6rem;
  color: $LightNavy;
}
.nav-links {
  @include responsive(tablet) {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
  @include responsive(laptop) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
.heading-background-color {
  background-color: $LightNavy;
  padding: 1rem;
}
