.news {
  background-color: #fafafa;
  @include responsive(tablet) {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
  // @include responsive(laptop) {
  //   padding: 6rem 4rem;
  // }
  &__container-main {
    padding: 4rem 1rem;
    @include responsive(tablet) {
      padding-left: 1.8rem;
      padding-right: 1.8rem;
    }
    @include responsive(laptop) {
      padding-left: 4rem;
      padding-right: 4rem;
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
    @include responsive(laptop-lg) {
      margin: 0 auto;
      max-width: 1300px;
    }
  }
  &__container {
    display: grid;
    gap: 3rem;
    margin-top: 4rem;
    @include responsive(tablet) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      gap: 2rem;
    }
  }
  &__line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.6rem;
    @include responsive(laptop) {
      align-items: left;
      justify-content: left;
    }
  }
  &__line {
    height: 3px;
    background-color: $Black;
    width: 40%;
    @include responsive(tablet) {
      width: 20%;
    }
  }
  &__heading {
    font-family: $primaryFont;
    text-align: center;
    margin: 0;
    @include responsive(laptop) {
      text-align: left;
    }
  }
  &__card {
    transition: 0.2s ease-in;
    cursor: pointer;
  }
  &__card:hover {
    transform: translateY(-5px);
  }
  &__title {
    margin-top: 1rem;
    font-family: $thirdFont;
    font-weight: bold;
  }
  &__author {
    color: #111;
    font-family: $thirdFont;
    font-weight: lighter;
    margin-bottom: 0;
  }
  &__excerpt {
    font-family: $thirdFont;
    font-size: 0.9rem;
  }
  &__excerpt p {
    margin-top: 0;
  }
  &__link {
    font-family: $thirdFont;
    text-decoration: underline !important;
    color: black !important;
    font-weight: bold;
  }
  &__featured-img img {
    width: 100%;
    object-fit: cover;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    // border-top-right-radius: 0.5rem;
    // border-top-left-radius: 0.5rem;
  }
  &__text-container {
    background-color: #fff;
    padding: 1.5rem;
    padding-bottom: 1.4rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    // border-bottom-right-radius: 0.5rem;
    // border-bottom-left-radius: 0.5rem;
  }
  &__date-wrapper {
    position: absolute;
    color: #fff;
    padding: 1rem;
    font-family: $thirdFont;
    text-align: center;
  }
  &__day {
    font-size: 32px;
    background-color: $LightNavy;
    padding: 8px;
    font-weight: bold;
    @include responsive(tablet) {
      font-size: 16px;
    }
    @include responsive(laptop) {
      font-size: 24px;
    }
  }
  &__month {
    padding: 8px;
    background-color: $DarkBlue;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
  }
}
