.entry-top-wrapper {
  position: relative;
  text-align: center;
  color: #fff;
}
.entry-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.entry-title-custom {
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.5;
  margin-top: 0;
  font-family: $primaryFont;
  font-size: 1.3rem;
  @include responsive(tablet) {
    font-size: 2.3rem;
  }
  @include responsive(laptop-lg) {
    font-size: 3rem;
    margin-top: initial;
  }
}
.entry-date,
.author a {
  color: #000 !important;
  font-weight: bold !important;
}
.entry-content {
  padding: 1rem;
  font-family: $thirdFont;
}
.comments-area,
.widget-area,
.nav-links,
.entry-footer {
  padding: 1rem;
}
.nav-next a,
.nav-previous a {
  font-family: $thirdFont;
  color: #000 !important;
}
.post-thumbnail img {
  width: 100%;
}
.entry-meta-container--col {
  display: grid;
  gap: 1.2rem;
  margin-bottom: 2rem;
  @include responsive(tablet) {
    display: flex;
    gap: 0;
  }
}
.entry-meta-container--col > .entry-meta {
  margin-right: 1.5rem;
}
.nav-subtitle {
  font-weight: bold;
}
.entry-footer-news-template,
.logged-in-as {
  display: none;
}
.nav-title {
  text-decoration: underline;
  font-weight: bold;
}
.blog-col {
  @include responsive(tablet) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 60px;
    padding-left: 1.8rem;
    margin-top: 3rem;
  }
  @include responsive(laptop) {
    padding-left: 4rem;
    gap: 100px;
  }
  @include responsive(laptop-lg) {
    margin: 0 auto;
    max-width: 1300px;
    margin-top: 4rem;
  }
}
.blog-col-2 > .widget-area {
  padding: 0;
  @include responsive(tablet) {
    padding-top: 0;
  }
  @include responsive(laptop) {
    padding-right: 3.8rem;
  }
}
.comments-area {
  @include responsive(tablet) {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  @include responsive(laptop) {
    margin: 0 auto;
    max-width: 750px;
    margin-bottom: 3rem;
  }
}
.entry-featured-image-wrapper > .post-thumbnail img {
  @include responsive(tablet) {
    height: 400px;
    object-fit: cover;
  }
}
.author a {
  text-decoration: none !important;
}
.nav-next a:hover,
.nav-previous a:hover {
  text-decoration: none !important;
}
