.col-2 {
  padding: 1rem;
  @include responsive(tablet) {
    padding-top: 0;
  }
}
.col-2-service {
  padding-top: 3rem;
  @include responsive(tablet) {
    padding-top: 0;
  }
}
.col-2-container {
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.col-2-title {
  font-family: $primaryFont;
  font-weight: bold;
}
.col-2-list {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 1.3rem;
}
.col-2-list-item {
  list-style-type: none;
  padding: 20px 15px;
  border: 1px solid #e0e0e0;
  color: #000 !important;
}
.col-2-link {
  text-decoration: none !important;
  color: #000;
  font-family: $thirdFont;
}
.col-2-item-wrapper {
  display: flex;
  margin-bottom: 2rem;
}
.col-2-item-one {
  margin-right: 1rem;
}
.col-2-item-two {
  display: flex;
  flex-direction: column;
}
.col-2-text {
  font-family: $thirdFont;
  margin: 0;
}
.col-2-text:hover {
  color: #000 !important;
}
.col-2-item-span {
  font-family: $thirdFont;
  font-weight: bold;
}
.services-pg-contact {
  background-color: #374454;
}
.entry-content-service {
  @include responsive(tablet) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 60px;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    margin-top: 3rem;
  }
  @include responsive(laptop) {
    padding-left: 4rem;
    padding-right: 4rem;
    gap: 100px;
  }
  @include responsive(laptop-lg) {
    margin: 0 auto;
    max-width: 1300px;
    margin-top: 5rem;
    margin-bottom: 4rem;
  }
}
