.solicitors {
  background-color: $LightNavy;
  &__container {
    padding: 4rem 1rem;
    @include responsive(tablet) {
      padding-left: 1.8rem;
      padding-right: 1.8rem;
    }
    @include responsive(laptop) {
      padding: 6rem 4rem;
    }
    @include responsive(laptop-lg) {
      margin: 0 auto;
      max-width: 1300px;
    }
  }
  &__intro-heading {
    color: #fff;
  }
  &__main-heading {
    color: #fff;
  }
  &__intro-heading {
    color: #fff;
    font-weight: bold;
    margin-top: 0;
    text-transform: uppercase;
    font-family: $thirdFont;
    letter-spacing: 2px;
  }
  &__main-heading {
    font-family: $primaryFont;
    color: #fff;
    font-weight: bold;
  }
  &__line {
    background-color: rgb(255, 255, 255);
    height: 3px;
    width: 40%;
    margin: 0 auto;
    @include responsive(tablet) {
      max-width: 20%;
    }
    @include responsive(laptop) {
      margin: inherit;
      max-width: 10%;
    }
  }
  &__card-container {
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
    @include responsive(tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      margin-top: 4rem;
    }
    @include responsive(laptop) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
    }
  }
  &__card-name-link {
    color: #fff !important;
    font-family: $primaryFont;
  }
  &__card-title {
    font-family: $thirdFont;
    color: #fff;
  }
  &__card-name {
    margin-bottom: 0;
  }
  &__card-title {
    margin-top: 0.4rem;
    margin-bottom: 0;
  }
  &__name-info-wrapper {
    background-color: #111;
  }
  &__name-info-wrapper {
    padding: 1rem;
  }
  &__btn {
    font-family: "Jost", sans-serif;
    border: 2px solid #fff;
    padding: 1rem 2rem;
    color: #fff !important;
    text-decoration: none;
  }
  &__btn-wrapper {
    margin-top: 3rem;
  }
  &__heading-wrapper {
    text-align: center;
    @include responsive(laptop) {
      text-align: left;
    }
  }
  &__line-wrapper {
    @include responsive(tablet) {
      display: flex;
      justify-content: center;
      @include responsive(laptop) {
        justify-content: left;
      }
    }
  }
  &__card-img img {
    width: 100%;
    // transition: transform 0.4s;
  }
  //   &__card-img img:hover {
  //     transform: scale(1.5);
  //     transform-origin: 50% 50%;
  //   }
}
