.team-member-entry-content {
  padding: 3rem 1rem;
  font-family: "Jost", sans-serif;
  @include responsive(tablet) {
    padding-top: 4rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
  @include responsive(laptop) {
    padding-top: 6rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @include responsive(laptop-lg) {
    margin: 0 auto;
    max-width: 1300px;
  }
}
.team-member-main-profile-overview-wrapper {
  @include responsive(tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
  }
  @include responsive(laptop) {
    margin: 0 auto;
    max-width: 650px;
  }
}
.team-member-profile-overview-desc {
  @include responsive(tablet) {
    margin-top: 0;
  }
}
.team-member-main-content {
  @include responsive(tablet) {
    margin-top: 4rem;
    padding-left: 3.6rem;
    padding-right: 3.6rem;
  }
  @include responsive(laptop) {
    padding-left: 0;
    padding-right: 0;
    // max-width: 700px;
    margin: 0 auto;
    max-width: 650px;
    margin-top: 4rem;
  }
}
.team-member-main-content h2 {
  font-family: $primaryFont;
  line-height: 1.5;
}

.team-member-icon-wrapper {
  display: grid;
  gap: 4rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  @include responsive(tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  @include responsive(laptop) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    margin-top: 6rem;
  }
}

.team-member-icon-img {
  height: 40px;
}

.team-member-icon-heading {
  margin-top: 1rem;
  margin-bottom: 0.6rem;
  font-family: $primaryFont;
  @include responsive(laptop) {
    font-size: 1.1rem;
  }
}
.team-member-contact-us {
  font-family: $primaryFont;
  line-height: 1.5;
}
.team-member-form {
  margin-top: 7rem;
  @include responsive(tablet) {
    padding-left: 3.6rem;
    padding-right: 3.6rem;
    margin: 0 auto;
    max-width: 600px;
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}
.team-member-form-info {
  display: grid;
  gap: 0.8rem;
}
.team-member-icon-text {
  margin-top: 0;
  margin-bottom: 0;
  color: #000 !important;
}
.team-member-form-input {
  width: 100%;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  border-radius: 0 !important;
}
.team-member-input-message-wrapper {
  margin-top: 0.8rem;
}
.team-member-message-heading {
  margin-bottom: 0.6rem;
}
.team-member-form-submit-btn {
  width: 100%;
  margin-top: 1rem;
  background-color: #112236;
  color: #fff !important;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 0;
}
.entry-bg-color {
  height: 400px;
  background-color: $DarkBlue;
}
textarea {
  border-radius: 0;
}
